body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: rgb(104, 106, 108);
}

a,
a:-webkit-any-link {
  color: rgb(104, 106, 108);
}

.summary {
  text-align: center;
}

.summary i {
  color: rgb(104, 106, 108);
}

.summary i::before {
  font-size: xx-large;
}

.summary__header {
  height: 50px;
  background-color: black;
}

.summary__profile {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0px;
  min-height: 100vh;
}

.summary__profile>img {
  border-radius: 50%;
  width: 250px;
  padding: 3px;
  border: 2px solid black;
  object-fit: cover;
}

.summary__profile>h1 {
  font-size: 3em;
}

.summary__profile>h2 {
  color: rgb(104, 106, 108);
}

.summary__profile>div.summary__profile--contacts {
  display: inline-block;
}

.summary__profile>div.summary__profile--contacts>div {
  display: flex;
  margin: 0 auto;
}

.summary__profile>div.summary__profile--contacts>div>i,
.summary__info>.summary__info-left>div>i,
.summary__info>.summary__info-right>div>i {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-right: 1em;
}

.summary__profile>div.summary__profile--contacts>div>p {
  margin-block-start: 1.6em;
}

.summary__info {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  text-transform: uppercase;
}

.summary__info>div {
  width: 50%;
  text-align: left;
}

div.summary__info-left--header,
div.summary__info-right--header {
  display: inline-flex;
}

div.summary__info-left--header>h2,
div.summary__info-right--header>h2 {
  color: rgb(104, 106, 108);
}

.summary__info-right--salary {
  background-color: rgba(216, 216, 216, 0.781);
  width: 20em;
  float: right;
}

.summary__info-right--salary h1 {
  font-weight: 200;
  font-size: 1.7em;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .summary__info {
    display: block;
    margin: 10px;
  }

  .summary__info>div {
    width: 100%;
  }
}