body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.summary__header {
    height: 50px;
    background-color: rgb(83, 66, 108);
}

.summary__profile {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}

.summary__profile>img {
    border-radius: 50%;
    width: 200px;
    padding: 3px;
    border: 2px solid rgb(83, 66, 108);
}

.summary__profile>h1 {
    font-size: 3em;
}

.summary__profile>h2 {
    color: rgb(83, 66, 108);
}

.summary__profile>div.summary__profile-contacts {
    display: inline-block;
}

.summary__profile>div.summary__profile-contacts>div {
    display: flex;
    margin: 0 auto;
}

.summary__profile>div.summary__profile-contacts>div>i {
    height: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-right: 1em;
    color: rgb(83, 66, 108);
}